.ad_card_wrapper {
  height: 100%;
  width: 100%;
  display: flex;

  /* overflow: scroll;
  overflow-x: hidden; */
  /* flex: 1 0; */
  /* scrollbar-width: none; */
}

.ad_card_wrapper .ad_card_info_wrapper {
  display: inline-block;
  height: 100%;
  width: 830px;
  margin-left: 18%;
  padding-top: 134px;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block {
  display: inline-block;
  width: 100%;
  padding: 3%;
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;

  background-color: #fff;
  /* background-color: #ffb300; */
}

.ad_card_wrapper .ad_card_info_wrapper .first {
  position: absolute;
  width: 830px;
  top: 55px;
  /* margin-top: 40px; */
  border-radius: 0;
  padding: 0;
  background-color: #bd000000;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block .yandex_maps{
  width: 100%;
  height: 500px;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block .review_block {
  display: inline-block;
  width: 80%;
  margin-left: 10%;
  height: auto;
  margin-top: 40px;
  
}

.ad_card_wrapper .ad_card_info_wrapper .info_block .review_block img {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block p span {
  margin-right: 15px;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block h3 {
  font-size:26px;
  font-weight:700;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block h3 span {
  margin-left: 17px;
  font-size: 20px;
}

/* .ad_card_wrapper .ad_card_info_wrapper .info_block .lessor_img {
  top: 0;
  width: 140px;
  height: 140px;
  border-radius: 70px;
} */

.ad_card_wrapper .ad_card_info_wrapper .info_block .lessor_info_block {
  /* text-align: end; */
  margin-left: 20px;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block .description_block {
  padding: 0px;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block .images_carousel {
  width: 106%;
  margin-left: -3%;
  margin-top: -3%;
  border-radius: 20px;
  height: 520px;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block .images_carousel .alice-carousel {
  width: 827px;
  height: 520px;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block .images_carousel .ant-image {
  width: 827px;
  height: 520px;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block .images_carousel .alice-carousel__dots {
  margin-top: 10px;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block .images_carousel .alice-carousel__prev-btn {
  padding: 0;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block .images_carousel .alice-carousel__next-btn {
  padding: 0;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block .images_carousel .alice-carousel__prev-btn-item {
  display: block;
  height: 35px;
  width: 35px;
  line-height: 31px;
  font-size: 23px;
  /* margin-top: 7px; */
  position: absolute;
  background-color: #ffffff63;
  padding: 0;
  padding-left: 7px;
  color: black;
  top: 222px;
  left: 5px;
  border-radius: 39px;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block .images_carousel .alice-carousel__next-btn-item {
  display: block;
  height: 35px;
  width: 35px;
  line-height: 22px;
  font-size: 23px;
  position: absolute;
  background-color: #ffffff63;
  border-radius: 30px;
  padding-left: 10px;
  color: black;
  top: 220px;
  right: 5px;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block .images_carousel .alice-carousel__prev-btn-item:hover {
  background-color: #ffffffdc;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block .images_carousel .alice-carousel__next-btn-item:hover {
  background-color: #ffffffdc;
}

.ad_card_wrapper .ad_card_info_wrapper .info_block .images_carousel .alice-carousel__next-btn-item span {
  margin-right: 0;
}

.ad_card_wrapper .booking_form_wrapper {
  /* display: inline-block; */
  min-height: 95vh;
  width: 350px;
  /* margin: 30px 0; */
  /* text-align: center; */
}

.ad_card_wrapper .booking_form_wrapper .booking_form {
  top: 7%;
  position: sticky;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  margin-left: 5%;
  margin-top: 134px;
  display: flex;
  flex-direction: column;
}


.ad_card_wrapper .booking_form_wrapper .booking_form label {
  text-align: left;
  /* margin-left: 10px; */
  /* margin-top: 15px; */
  margin-bottom: 5px;
}

.ad_card_wrapper .booking_form_wrapper .booking_form .btn {
  margin-top: 15px;
  font-size: 18px;
}

.ad_card_wrapper .ant-rate-star-second {
  width: 18px;
}
