.login_form_wrapper {
  color: #fff;
  width: 30%;
  height: 30%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.login_form_wrapper .login_block {
  justify-content: center;
  width: 50%;
  height: 70%;
}

.login_form_wrapper input {
  font-size: 22px;
  width: 100%;
  margin-bottom: 3%;
}

.login_form_wrapper .btn {
  font-size: 18px;
  width: 50%;
  margin-top: 3%;
}
