.register_form_wrapper {
  width: 30%;
  height: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.register_form_wrapper .register_block {
  justify-content: center;
  width: 50%;
  height: 70%;
}

.register_form_wrapper input {
  font-size: 22px;
  width: 100%;
  margin-bottom: 5%;
}

.register_form_wrapper .btn {
  font-size: 18px;
  width: 80%;
  margin-top: 3%;
  background-color: brown;
  color: white;
}

.register_form_wrapper .btn:hover {
  background-color: rgb(112, 3, 3);
}

.register_form_wrapper .label_lessor_input {
  display: inline-block;
  width: 68%;
}

.register_form_wrapper .user_lessor_input {
  display: inline-block;
  margin-left: 5px;
  width: 20px;
}
