.profile_wrapper {
  width: 100%;
  display: flex;
}

.profile_info_block {
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 7vh;
  margin-bottom: 2vh;
  width: 100%;
  /* height: 55vh; */
  padding-bottom: 13px;
  margin-left: 2vh;
}

.profile_photo {
  margin-left: 7%;
  margin-top: 30px;
  width: 110px;
  height: 110px;
}

.user_info {
  margin-left: 26px;
  margin-top: 10px;
  width: 86%
  /* height: 550px; */
}

.favourites_ads_wrapper {
  width: 80%;
  height: 100%;
  margin-left: 40px;
}

.owner_ads_wrapper {
  width: 80%;
  height: 100%;
  margin-left: 40px;
  margin-top: 2vh;
}
