.profile_wrapper {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
}

.profile_wrapper .ads_block {
  background-color: rgb(174, 147, 199);
  width: 94%;
  height: 300px;
  margin-left: 3%;
  margin-top: 3%;
}


.profile_info_block {
  background-color: rgb(255, 255, 255);
  width: 20%;
  height: 100%;
}

.profile_info_block .profile_photo {
  margin-left: 7%;
  margin-top: 7%;
  width: 86%;
  height: auto;
}

.profile_info_block .user_info {
  font-size: 19px;
  margin-left: 7%;
  margin-top: 7%;
  width: 86%;
  height: auto;
}

.profile_info_block button {
  font-size: 18px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 7%;
  width: 40%;
  height: 30px;
}

.favourites_ads_wrapper {
  background-color: rgb(255, 255, 255);
  width: 38%;
  height: 100%;
  margin-left: 2%;

  overflow: scroll;
  overflow-x: hidden;
  flex: 1 0;

  text-align: center;
}

.owner_ads_wrapper {
  background-color: rgb(255, 255, 255);
  width: 38%;
  height: 100%;
  margin-left: 2%;

  overflow: scroll;
  overflow-x: hidden;
  flex: 1 0;

  text-align: center;
}

.owner_ads_wrapper img{
  width: 100px;
  height: 100px;
}
