/* @import  'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'; */
.App {
  text-align: center;
}

.main {
  height: 94vh;
  justify-content: center;
  display: flex;
  background-color: rgb(16, 16, 16);
}


.header {
  position: relative;
  width: 100%;
  height: 6vh;
  background-color: rgb(222, 225, 162);
} 

.header .logo {
  position: absolute;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 200px;
}

.header .logo .link {
  font-size: 26px;
  font-weight: bold;
  outline: none;
  text-decoration: none;
  color: black;
}

.header .menu {
  position: absolute;
  right: 0;
  height: 100%;
  right: 0%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header .menu .item {
  border: none;
  flex-grow: 1;

  background-color: rgb(33, 33, 33);

  margin: 0 20px 0 0;
  height: 70%;
  border-radius: 20px;
  width: 200px;

  text-align: center;
  align-content: center;
}

.header .menu .item .link{
  color: white;
  font-size: 18px;
  
  outline: none;
  text-decoration: none;
}

.header .menu .item .link:hover {
  color: rgb(222, 225, 162);
}


.footer {
  height: 300px;
  background-color: rgb(222, 225, 162);
}
