@import  'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

.App {
  color: black;
}

.main {
  min-height: 95vh;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 5vh;
  color: white;
  background-color: rgb(44, 44, 44);
} 

.header .logo {
  position: absolute;
  left: 0;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 200px;
}

.header .logo .link {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  font-weight: 800;
  outline: none;
  text-decoration: none;
  color: white;
}

.header .menu {
  position: absolute;
  right: 0;
  height: 100%;
  right: 0%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header .menu .item {
  border: none;
  flex-grow: 1;

  background-color: rgb(255, 255, 255);

  margin: 0 20px 0 0;
  height: 70%;
  border-radius: 20px;
  width: 230px;

  text-align: center;
  align-content: center;
}

.header .menu .item .link{
  color: black;
  font-size: 18px;
  
  outline: none;
  text-decoration: none;
}

.header .menu .item .link:hover {
  color: rgb(234, 76, 129);
}


.footer {
  height: 200px;
  background-color: rgb(44, 44, 44);
}
